<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>LjusbolagetSyd AB</title>
</head>
<body>
<nav>
	<ul>
		<li>
			<a href="#">Test1</a>
		</li>
		<li>
			<a href="#">Test2</a>
		</li>
		<li>
			<a href="#">Test3</a>
		</li>
	</ul>
</nav>
<div>
	@RenderBody()
</div>
</body>
</html>