<header id="myCarousel2" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<div class="fill" style="background-image: url('/Content/Logo/logo2.jpg');"></div>
			<div class="carousel-caption">
			</div>
		</div>
	</div>
</header>
<div class="container">
	<hr class="featurette-divider" />
	<div class="contact">
		<h2>Kontaktuppgifter</h2>
		<hr class="primary">

		<address>
			<strong>LjusBolaget Syd AB</strong><br>
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<span>Trelleborg</span>
			<br>
			<strong><i class="fa fa-phone" aria-hidden="true"></i></strong>
			<span>0707-191124</span>
			<p>
				<strong><i class="fa fa-envelope-o" aria-hidden="true"></i></strong>
				<span>
					<a href="mailto:info@ljusbolaget.nu">info@ljusbolaget.nu</a>
				</span>
			</p>
			<br>
		</address>

		<hr class="primary">

		<address>
			<strong>Fredrik Svensson</strong><br />
			<a href="mailto:fredrik@ljusbolaget.nu">fredrik@ljusbolaget.nu</a><br />
			<em>CEO / Ljustekniker</em>
		</address>

		<hr class="primary">

		<address>
			<strong>Sebastian Fernstedt</strong><br />
			<a href="mailto:sebastian@ljusbolaget.nu">sebastian@ljusbolaget.nu</a><br />
			<em>Ljudtekniker</em>
		</address>

		<hr class="primary">

		<address>
			<strong>Frågor angående Faktura/Betalning</strong>
			<br />
			<a href="mailto:ekonomi@ljusbolaget.nu">ekonomi@ljusbolaget.nu</a>
		</address>

		<hr class="primary">

		<a href="https://www.facebook.com/LjusBolaget-AB-Ljud-Ljus-Scen-507798419352356/" class="btn btn-social-icon btn-lg btn-facebook">
			<i class="fa fa-facebook-official" aria-hidden="true"></i>
		</a>

	</div>
</div>