<div class="carousel-outer-container">
	<header id="myCarousel2" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<div class="fill" style="background-image: url('/Content/Logo/slsgrouplogo.jpg');"></div>
				<div class="carousel-caption">
				</div>
			</div>
		</div>
	</header>
</div>
<div class="container">
	
	<div class="contact">
		<h2>Kontaktuppgifter</h2>
		<hr class="primary">

		<address>
			<strong>SLS Group AB Sound-Light-Stage</strong><br>
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<span>Trelleborg</span>
			<br>
			<strong><i class="fa fa-phone" aria-hidden="true"></i></strong>
			<span>0707-191124</span>
			<p>
				<strong><i class="fa fa-envelope-o" aria-hidden="true"></i></strong>
				<span>
					<a href="mailto:info@slsgroup.nu">info@slsgroup.nu</a>
				</span>
			</p>
			<br>
		</address>

		<hr class="primary">

		<address>
			<strong>Fredrik Svensson</strong><br/>
			<a href="mailto:fredrik@slsgroup.nu">fredrik@slsgroup.nu</a><br/>
			<em>CEO / Ljustekniker</em>
		</address>

		<hr class="primary">

		<address>
			<strong>Johan Engström</strong><br />
			<a href="mailto:johan@slsgroup.nu">johan@slsgroup.nu</a><br />
			<em>El / Säljare</em>
		</address>

		<hr class="primary">

		<address>
			<strong>Sebastian Fernstedt</strong><br/>
			<a href="mailto:sebastian@slsgroup.nu">sebastian@slsgroup.nu</a><br/>
			<em>Ljudtekniker</em>
		</address>

		<hr class="primary">

		<address>
			<strong>Alex Arnoldsson</strong><br />
			<a href="mailto:alex@slsgroup.nu">alex@slsgroup.nu</a><br />
			<em>Ljudtekniker</em>
		</address>

		<hr class="primary">

		<address>
			<strong>Frågor angående Faktura/Betalning</strong>
			<br/>
			<a href="mailto:ekonomi@slsgroup.nu">ekonomi@slsgroup.nu</a>
		</address>

		<hr class="primary">

		<a href="https://www.facebook.com/LjusBolaget-AB-Ljud-Ljus-Scen-507798419352356/" class="btn btn-social-icon btn-lg btn-facebook">
			<i class="fa fa-facebook-official" aria-hidden="true"></i>
		</a>

	</div>
</div>