<header id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<div class="fill" style="background-image: url('/Content/Images/scen7.jpg');"></div>
			<div class="carousel-caption">
				<h2>Scen 1</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill" style="background-image: url('/Content/Images/scen2.jpg');"></div>
			<div class="carousel-caption">
				<h2>Scen 2</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill" style="background-image: url('/Content/Images/scen3.jpg');"></div>
			<div class="carousel-caption">
				<h2>Scen 3</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill" style="background-image: url('/Content/Images/scen4.jpg');"></div>
			<div class="carousel-caption">
				<h2>Scen 4</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill" style="background-image: url('/Content/Images/scen5.jpg');"></div>
			<div class="carousel-caption">
				<h2>Scen 5</h2>
			</div>
		</div>
		<div class="item">
			<div class="fill" style="background-image: url('/Content/Images/scen6.jpg');"></div>
			<div class="carousel-caption">
				<h2>Scen 6</h2>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>
</header>

<div class="container">
	<hr class="featurette-divider">
	<div class="featurette" id="about">
		<img class="featurette-image img-circle img-responsive pull-right" src="/Content/Logo/logo.jpg">
		<h2 class="featurette-heading">
			Ljusbolaget Syd
		</h2>
		<p class="lead text-muted">
			Som Ni hör på namnet så arbetar vi med ljussättning vid såväl stora som små events. Vi arbetar även med ljud och erbjuder bra teknik till förmånliga priser. Vi har skött ljud och ljus under flera stora evenemang och festivaler. Bra ljud och ljus är A och O för ett lyckat företagsevent, marknad eller festival. Vi samarbetar med olika typer av föreningar och företag.
		</p>
		<a class="contact-us-link" href="@Url.Action("Contact", "Home")">
			<i class="fa fa-envelope-o" aria-hidden="true" style="padding-right: 10px;"></i>Kontakta oss
		</a>
	</div>
</div>

<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Våra tjänster</h2>
				<hr class="primary">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size: 40px"></i>
					<h3>LJUS</h3>
					<p class="text-muted">Vår specialitet med en flora av olika lösningar anpassade efter storleken på arr:et.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-volume-up" aria-hidden="true" style="font-size: 40px"></i>
					<h3>LJUD</h3>
					<p class="text-muted">Erbjuder en bra ljudbild med rutinerade tekniker och utrustning av högsta standard.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<i class="fa fa-commenting-o" aria-hidden="true" style="font-size: 40px"></i>
					<h3>MARKNADSFÖRING</h3>
					<p class="text-muted">Vi kan boka upp artister och lägga ut Ert event på hemsidor, sociala medier etc.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="service-box">
					<span class="glyphicon glyphicon-tent" aria-hidden="true" style="font-size: 40px"></span>
					<h3>TÄLT OCH SCENER</h3>
					<p class="text-muted">Vi kan erbjuda ett stort utbud av passande tält och scener</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="services" class="padding-min-bottom">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">Följ oss på Facebook!</h2>
				<a href="https://www.facebook.com/LjusBolaget-AB-Ljud-Ljus-Scen-507798419352356/"class="btn btn-social-icon btn-lg btn-facebook">
					<i class="fa fa-facebook-official" aria-hidden="true"></i>
				</a>
				<hr class="primary">
			</div>
		</div>
	</div>
</section>
